:root {
    --blue: rgb(12, 192, 223);
    --pink: rgb(219, 138, 208);
    --darkPink: rgb(148,42,133);
    --text: rgb(67,32,62);
    --lightPink: #E8CEE4;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* NAVIGATION */
header {
    height: 10vh;
    z-index: 10000;
}
.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}


/* BREADCRUMBS */
.breadcrumb-container {
    padding-top: calc(5vh + 30px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.breadcrumb {
    margin-bottom: 0 !important;
}

.info {
    width: 40px;
}

.breadcrumb-item a {
    color: var(--blue);
}
.btn-text {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    color: var(--pink);
}
.btn-text:hover {
    color: var(--darkPink);
}

/* MAIN SECTIONS */
.story-container {
    max-width: 440px;
    margin: auto;
    padding: 5vh 0;
}

.align-items-center {
    padding: 80px 0;
}

.align-items-center h1 {
    font-family: 'Kalam', cursive;
    font-weight: 600;
    color: var(--pink);
    font-size: 40px;
    padding-bottom: 50px;
}
.align-items-center p {
    padding-bottom: 40px;
}

.img-col {
    margin-left: 80px;
}

.btn-primary {
    background-color: var(--blue);
}

.btn-primary,
.btn-secondary {
    border-radius: 50px;
    padding: 20px 40px;
    border: none;
    box-shadow: 2px 5px 8px rgb(156, 156, 156);
    font-family: 'Ultra', serif;
}

.btn-primary:hover {
    background-color: var(--darkPink);
}

.images-section {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.images-section .btn-primary {
    align-self: flex-start;
    justify-self: center;
}
.images-section2 {
    display: flex;
    justify-content: flex-end;
}
/* FOOTER */
footer {
    background-color: var(--blue);
    color: white;
    font-size: 24px;
    font-weight: 600;
    margin-top: auto;
}

footer p {
    margin-bottom: 0;
}

#close {
    text-align: right; 
    margin: 40px; 
    font-size: 40px;
    cursor: pointer;
}

/* MEDIA QUERIES*/
@media (max-width: 1200px) {
    .images-section {
        flex-direction: column;
        gap: 100px;
        align-items: center;
    }
    .images-section img:first-child {
        display: none;
    }
    .images-section .btn-primary {
        align-self: center;
    }

}

@media (max-width: 600px) {
    .img-col {
        margin: 40px 0 0 0 ;
    }
    .breadcrumb-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .breadcrumb {
        justify-content: center;
    }
}